/* SHOWCASE */



/**/

/*#news_section{
	float:left;

}
#library_sched_section{
	float:left;

}*/

/*.section_title{
	color:#5D5763;
	text-transform: uppercase;
	border-bottom: #5D5763 2px solid;
	
}

.section_title h3{
	margin-left: 10px;
	margin-top:5px;
	font-size:20px;
	margin-bottom: 5px;
}

.section{
	float: left;
	padding: 20px 30px 20px 30px;
	width:50%;
}
/**/
/*#library_sched_table td{
	padding:5px 50px 0px 5px;
}
*/

#home_nav .nav-link:hover{
	color:#79BF2B;
	/*background-color: #79BF2B;*/
	box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
	

}


#home_nav .nav-link{
	box-shadow: 0 8px 16px 4px rgba(0,0,0,0.04);
	transition: 0.3s;

}




#home_nav a{
	color: #9C9E9D;
	margin-right: 20px;
}


.centered-margined{
	margin-top: 100px;
	padding: 30px 20px;
	text-align: center;
}

